<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
				<div class="menu_block ">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
                                    <li ><a href="home" style="text-decoration: none; color: black; transition: color 0.3s ease;" 
                                    onmouseover="this.style.color='#3399ff';" 
                                    onmouseout="this.style.color='black';">Home</a></li>
                                
                                    <li><a href="about" style="text-decoration: none; color: black; transition: color 0.3s ease;" 
                                    onmouseover="this.style.color='#3399ff';" 
                                    onmouseout="this.style.color='black';">About</a></li>
                                
                                    <li><a href="cars" style="text-decoration: none; color: black; transition: color 0.3s ease;" 
                                    onmouseover="this.style.color='#3399ff';" 
                                    onmouseout="this.style.color='black';">Cars</a></li>
                                
                                    <li><a href="services" style="text-decoration: none; color: black; transition: color 0.3s ease;" 
                                    onmouseover="this.style.color='#3399ff';" 
                                    onmouseout="this.style.color='black';">Services</a></li>
                                
                                    <li><a href="contacts" style="text-decoration: none; color: black; transition: color 0.3s ease;" 
                                    onmouseover="this.style.color='#3399ff';" 
                                    onmouseout="this.style.color='black';">Contacts</a></li>
                                </ul>
                                
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index.html">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>

</body>
</html>